/.idea
/build
/gradle
/rsl.iml
/.gradle
/gradlew.bat
/gradlew
/modules/rsl-server/build
/modules/rsl-persistence/build
/modules/rsl-util/build
/modules/rsl-core/build
/modules/rsl-driver/build
.DS_Store
/tools/testrunner/build
/modules/rsl-compiler/build
/demo/.idea
/demo/demo.iml
/demo/rsl/*
/demo/out
/demo/db
